@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
  font-family: 'Slabo 27px', serif;
}

main {
  display: flex;
  justify-content: space-around;
}

#userForm {
  background-color: #eeeeee;
  padding: 1rem;
  border: 1px solid #e3e3e3;
}

label {
  display: block;
}

dl > li {
  list-style: none;
}
